* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}


.paragraph {
  background-color: rgba(0, 0, 0, 0.5);
  width: max-content;
  margin: auto;
  padding: 1vw;
  border-radius: 1rem;

}

body {
    background-image: url("stardewimage.png");
    background-size: cover;
    background-attachment: fixed;
  }
  h1 {
color: #fff;
text-shadow:
      2px 2px 1px #000,
      -2px 2px 1px #000,
      -2px -2px 0 #000,
      2px -2px 0 #000;



  }

  
  p {
    color: #fff;
    text-shadow:
    1px 1px 1px #000,
    -1px 1px 1px #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
  }
  h2 {
    color: #fff;
    text-shadow:
          2px 2px 1px #000,
          -2px 2px 1px #000,
          -2px -2px 0 #000,
          2px -2px 0 #000;
    
    
    
      }
  li {
    color: #f5a700;
    text-shadow:
    1px 1px 1px #000,
    -1px 1px 1px #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
  
  }



 h1 { text-align: center; }
p{ text-align: center; }
h2 {text-align: center;}


 .img {
  text-align: center;
 }
 #klass1{
  margin-top: 2rem;
 }

#klass2{
margin-top:2rem ;

}
#klass3{
margin-top: 2rem;
margin-bottom:50px;

}

#klass5{
margin-top: 2rem;
margin-bottom:50px;

}
 
